true-flag: [{{#trueFlag}}body{{/trueFlag}}]
false-flag: [{{#falseFlag}}body{{/falseFlag}}]
null-value: [{{#nullValue}}body{{/nullValue}}]
empty-string: [{{#emptyString}}body{{/emptyString}}]
non-empty-string: [{{#nonEmptyString}}body{{/nonEmptyString}}]
empty-array: [{{#emptyArray}}body{{/emptyArray}}]
non-empty-array: [{{#nonEmptyArray}}{{n}};{{/nonEmptyArray}}]
object-with-name: [{{#objectWithName}}{{name}}{{/objectWithName}}]
