You are reviewing one training program for a coach.

Program: {{title}}
Weeks: {{weekCount}}

Week labels:
{{#weekLabels}}
- {{label}}
{{/weekLabels}}

Judge whether this program is ready to publish.
