empty-array: [{{^emptyArray}}body{{/emptyArray}}]
empty-string: [{{^emptyString}}body{{/emptyString}}]
false-flag: [{{^falseFlag}}body{{/falseFlag}}]
null-value: [{{^nullValue}}body{{/nullValue}}]
missing-key: [{{^missingKey}}body{{/missingKey}}]
